@import "core/vars";
@import "core/reset";
@include reset();
h1{
  font-size: 32px;
  span{
    color: red
  }
}
#demo {
  background-color: lightblue;
}
td{text-align: center;width: 60px;height: 60px;border: 1px solid #ccc;}
table{border-collapse: collapse;margin:20px auto;}
.bg{background-color: lightblue;}
